


#hover:hover{
	border: 2px solid #abced4; 
}

#active{
    cursor: pointer;
}
#active:active{
	border: 2px solid #abced4; 
}

#first > .cir:first-child{
    background: #abced4;
}

#last > .cir:last-child{
    background: #abced4;
}

#even > .cir:nth-child(even){
    background: #abced4;
}

#odd > .cir:nth-child(odd){
    background: #abced4;
}

#fourth > .cir:nth-child(4){
    background: #abced4;
}

#hops > .cir:nth-child(2n+1){
    background: #abced4;
}